<!doctype html>
<html lang="en">
<head>
    <title>Undead Mongoose</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Interface for Undead Mongoose">
    <meta name="author" content="Sticky">
</head>
<body>
    {% if user.is_authenticated %}
    <h1>Undead Mongoose</h1>
    <p>Current user: {{ user.email }}</p>
    <p>Is admin: {{ user.is_superuser }}</p>
    <form action="{% url 'oidc_logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="logout">
    </form>
    {% else %}
    <a href="{% url 'oidc_authentication_init' %}">Login</a>
    {% endif %}
</body>
</html>
