.board-color {
  background-color: #29738f;
}

.disabled-product {
  filter: grayscale(100%);
}

.hidden-item {
  display: none;
}

a {
  text-decoration: none;
}


.pagination {
  width: fit-content;
}
