.container {
  max-height: calc(100vh - 65px);
  overflow-y: scroll;
  margin-top: 0 !important;
  padding-top: 10px;
}

.board-color {
  background-color: #61518f;
}

.disabled-product {
  filter: grayscale(100%);
}

.hidden-item {
  display: none;
}

a {
  text-decoration: none;
}


.pagination {
  width: fit-content;
}
