<center>
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="?{{ page_name }}=1">First</a>
    </li>

    {% if page.has_previous %}
      <li class="page-item"><a class="page-link" href="?{{ page_name }}={{ page.previous_page_number }}">{{ page.previous_page_number }}</a></li>
    {% endif %}

    <li class="page-item active"><a class="page-link" href="?{{ page_name }}={{ page.number }}">{{ page.number }}</a></li>

    {% if page.has_next %}
      <li class="page-item"><a class="page-link" href="?{{ page_name }}={{ page.next_page_number }}">{{ page.next_page_number }}</a></li>
    {% endif %}

    <li class="page-item">
      <a class="page-link" href="?{{ page_name }}={{ page.paginator.num_pages }}">Last</a>
    </li>
  </ul>
  <span class="current">
    Page {{ page.number }} of {{ page.paginator.num_pages }}
  </span>
</center>
