{% extends "base.html" %}
{% load static %}
{% block body %}
<div class="card">
  <div class="card-header">
    <section class="d-flex">
      <h3 class="flex-grow-1">Products</h3>
      <a href="/products?edit=0"><button class="btn btn-success">Add product</button></a>
    </section> 
  </div>
  <div class="card-body">
    <input id="filter-products" class="form-control" type="text" placeholder="Type product..." />
    <hr/>
    <table class="table table-striped table-hover text-center align-middle">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Price</th>
          <th>Category</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
          <tr id="{{ product.id }}" class="product-row">
            <td class="product-image {% if not product.enabled %}disabled-product{% endif %}">{{ product.image_view }}</td>
            <td class="product-name">{{ product.name }}</td>
            <td>{{ product.euro }}</td>
            <td>{{ product.category }}</td>
            <td>
              <div class="mb-1">
                <a href="/products?edit={{ product.id }}"><button class="btn btn-primary edit-product">Edit</button></a>
                <a href="/products?sales={{ product.id }}"><button class="btn btn-success product-sales">Sales</button></a>
              </div>
              <div>
                <button class="btn btn-warning toggle-product" name="{{ product.id }}">{% if product.enabled %}De{% else %}Re{% endif %}activate</button>
                <button class="btn btn-danger delete-product" name="{{ product.id }}">Delete</button>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>    
  </div>
</div>
<div class="modal fade" id="product-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" enctype="multipart/form-data">
      <div class="modal-header">
        <h5 class="modal-title">Add or edit product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% csrf_token %}
        {{ product_form.as_p }}
        {% if current_product %}
          <label class="form-label">Current image</label>
          {{ current_product.image_view }}
        {% endif %}
      </div>
      <div class="modal-footer">
        <div class="input-group mb-3 btn-group">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success">Save product</button>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="sales-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" enctype="multipart/form-data">
      <div class="modal-header">
        <h5 class="modal-title">Product sales</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5>Sales per price</h5>
        <table class="table table-striped table-hover text-center align-middle">
          <thead>
            <tr>
              <th>Amount</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            {% for sale in product_sales.sum %}
              <tr>
                <td>{{ sale.sum }}x</td>
                <td>€{{ sale.product_price }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <hr/>
        <h5>All time sales</h5>
        <table class="table table-striped table-hover text-center align-middle">
          <thead>
            <tr>
              <th>Amount</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            {% for sale in product_sales.all %}
              <tr>
                <td>{{ sale.amount }}x</td>
                <td>€{{ sale.product_price }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript" src="{% static 'AdminBoardView/products.js' %}" defer></script>
{% endblock %}
