{% extends "base.html" %}
{% load static %}
{% block body %}
<h1>Products</h1>
<table class="table table-striped table-hover text-center align-middle">
  <thead>
    <tr>
      <th>Select</th>
      <th>Image</th>
      <th>Name</th>
      <th>Price</th>
      <th>Category</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for product in products %}
        <td><input type="checkbox"/></td>
        <td>{{ product.image_view }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.euro }}</td>
        <td>{{ product.category }}</td>
        <td>
          <button class="btn btn-primary">Edit</button>
          <button class="btn btn-warning">Remove</button>
          <button class="btn btn-danger">Deactivate</button>
        </td>
      {% endfor %}
    </tr>
  </tbody>
</table>
{% endblock %}
