{% extends "base.html" %}
{% load static %}
{% block body %}
<section class="d-flex">
  <h1 class="flex-grow-1">Products</h1>
  <button class="btn btn-success" id="addProduct" data-bs-toggle="modal" data-bs-target="#addProductModal">Add product</button>
</section> 
<table class="table table-striped table-hover text-center align-middle">
  <thead>
    <tr>
      <th>Select</th>
      <th>Image</th>
      <th>Name</th>
      <th>Price</th>
      <th>Category</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
      <tr id="{{ product.id }}">
        <td><input type="checkbox"/></td>
        <td class="{% if not product.enabled %}disabled-product{% endif %}">{{ product.image_view }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.euro }}</td>
        <td>{{ product.category }}</td>
        <td>
          <button class="btn btn-primary edit-product">Edit</button>
          <button class="btn btn-warning toggle-product">{% if product.enabled %}De{% else %}Re{% endif %}activate</button>
          <button class="btn btn-danger delete-product">Delete</button>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<div class="modal fade" id="addProductModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add new product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label class="form-label">Product name</label>
        <div class="input-group mb-3">
          <input type="text" id="name" placeholder="Leffe Blond" class="form-control" />
        </div>

        <label class="form-label">Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text">€</span>
          <input type="text" id="price" placeholder="15.15" class="form-control" />
        </div>

        <label class="form-label">Category</label>
        <div class="input-group mb-3">
          <select class="form-select" id="category">
            {% for category in categories %}
              <option value="{{ category.name}}">{{ category.name }}</option>
            {% endfor %}
          </select>
        </div>

        <label class="form-label">VAT</label>
        <div class="input-group mb-3">
          <input type="text" id="vat" placeholder="21" class="form-control" />
          <span class="input-group-text">%</span>
        </div>
        
        <label class="form-label">Enabled</label>
        <div class="input-group mb-3">
          <div class="input-group-text">
            <input class="form-check-input mt-0" id="enabled" type="checkbox" value="">
          </div>
        </div>
        
        <label class="form-label">Product image</label>
        <div class="input-group mb-3">
          <input type="file" id="image" class="form-control" />
        </div>
      </div>
      <div class="modal-footer">
        <div class="input-group mb-3">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success">Add product</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
