{% extends "base.html" %}
{% load static %}
{% block body %}
<article class="row row-cols-2">
  <section class="col">
    <div class="d-flex">
      <h1 class="flex-grow-1">Categories</h1>
    </div>
    <table class="table table-striped table-hover text-center align-middle">
      <thead>
        <tr>
          <th>Name</th>
          <th>Alcoholic</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for category in categories %}
          <tr id="{{ category.id }}">
            <td><input class="form-control" type="text" value={{ category.name }}></td>
            <td><input type="checkbox" {% if category.alcoholic %}checked{% endif %}></td>
            <td>
              <button class="btn btn-danger delete-category" name="{{ category.id }}">Delete</button>
            </td>
          </tr>
        {% endfor %}
        <tr><td colspan="3"><button class="btn btn-primary">Add new category</td></tr>
      </tbody>
    </table>
    <hr/>
    <button class="btn btn-success">Save changes</button>
  </section>
  <section class="col">
    <div class="d-flex">
      <h1 class="flex-grow-1">VAT</h1>
    </div>
    <table class="table table-striped table-hover text-center align-middle">
      <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for vat in vat %}
          <tr id="{{ vat.id }}">
            <td class="input-group">
              <input class="form-control" type="text" value={{ vat.percentage }}>
              <span class="input-group-text">%</span>
            </td>
            <td>
              <button class="btn btn-danger delete-vat" name="{{ vat.id }}">Delete</button>
            </td>
          </tr>
        {% endfor %}
        <tr><td colspan="2"><button class="btn btn-primary">Add new VAT</td></tr>
      </tbody>
    </table>
    <hr/>
    <button class="btn btn-success">Save changes</button>
  </section>
</article>
{% endblock %}
