{% extends "base.html" %}
{% load static %}
{% block body %}
<main class="container mt-3">
  {% if transaction %}
    {% if transaction.status == PaymentStatus.PAID %}
      <div class="alert alert-success">
        The transaction was successful and your balance is updated!
      </div>
    {% elif transaction.status == PaymentStatus.CANCELLED %}
      <div class="alert alert-danger">
        The transaction failed! If you believe this is a mistake, please contact the board.
      </div>
    {% else %}
      <div class="alert alert-info">
        We are processing your payment. Once it succeed, your balance will be updated!
      </div>
    {% endif %}
  {% endif %}
  <h1>Welcome {{ user_info.name }}</h1>
  <h5 class="mb-2">
    Current balance: <b>{{ user_info.euro_balance }}</b>
  </h5>  
  <hr/>
  <div class="undead-cols row row-cols-2">
    <div class="col">
      <div class="card">
        <h5 class="card-header">Product sales</h5>
        <div class="card-body">
          <table class="table table-striped table-hover text-center align-middle">
            <thead>
              <tr>
                <th>Date</th>
                <th>Sum</th>
                <th>Products</th>
              </tr>
            </thead>
            <tbody>
              {% for transaction in sales %}
              <tr id="{{ transaction.key.id }}">
                <td>{{ transaction.key.date }}</td>
                <td>€{{ transaction.key.transaction_sum }}</td>
                <td>
                  {% for product in transaction.values %}
                    {{ product.amount }}x {{ product.product_id.name }}<br/>
                  {% endfor %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% include "pagination_footer.html" with page=sales page_name='sales' %}
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <h5 class="card-header">Top ups</h5>
        <div class="card-body">
          <table class="table table-striped table-hover text-center align-middle">
            <thead>
              <tr>
                <th>Date</th>
                <th>Sum</th>
                <th>Type</th>
              </tr>
            </thead>
            <tbody>
              {% for date, price, type in top_ups %}
              <tr>
                <td>{{ date }}</td>
                <td>€{{ price }}</td>
                <td>{{ type }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% include "pagination_footer.html" with page=top_ups page_name='top_ups' %}
          <hr />
          <form action="/api/topup" method="post">
            <h5>Top up balance</h5>
            {% csrf_token %}
            <div class="form-row row align-items-center">
              <div class="col-sm-3">
                <label for="amount" class="sr-only">Amount: </label>
              </div>
              <div class="form-group col">
                <input placeholder="Amount" class="form-control" type="number" min="0" step="0.01" name="amount" />
              </div>
              <div class="form-group col">
                <button type="submit" class="btn btn-primary">Top up</button>
              </div>
            </div>
            <small id="feeHelp" class="form-text text-muted">Plus &euro;0.39 transaction fee.</small>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
